body{

}

.elemContainer{
  text-align: center;
}

#page{
                        /* Position */
  margin-left: 15vw;
  margin-right: 15vw;

                      /* Stile */
  background-color: lightgray;
}

.navButton{
                      /* Position */

                      /* Stile */
}
